*{
    margin-left: 10px;
    padding : 0px;
}
p {
    color : red;
}
h1,h2,h3,h4,h5,h6{
    color : burlywood;

}
i {
    color : darkorange;
}
blockquote {
    color : gold;
}
address {
    color : brown;
}
bdo{
    color : cornflowerblue;
}
big{
    color : brown;
}
code{
    color : darkorange;
}
dfn{
    color : gold;
}
pre {
    color : darkcyan;
}
ul li{
    color : brown;
}
ol li{
    color : darkseagreen;
}